@import url('https://fonts.googleapis.com/css?family=Anton');

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}

.box {
  background-color: rgba(255,255,255,0.5);
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 200px;
  font-size: 120px;
  width:281px;
}

body {
  width: 1000px;
  margin: auto;
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 3em;
}

.header {
  background-color: #5a4fcf;
  color: white;
  border-radius: 15px;
}

.refresh {
  padding: 15px;
  background-color: white;
  color: #5a4fcf;
  width: 150px;
  border-radius: 15px;
  text-align: center;
